<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Comment board</title>
    </head>

    <body>
		<h1>Comments</h1>

        <div style="width: 100%;">
            <table>
                <tr>
                    <th style="text-align:left">Comment</th>
                    <th style="text-align:right">User</th>
                    <th style="text-align:right">Published</th>
                </tr>
                {% for comment in comments %}
                <tr>
                    <td style="text-align:left">{{comment.comment_text|safe|escape}}</td>
                    <td style="text-align:right">{{comment.by}}</td>
                    <td style="text-align:right">{{comment.pub_date}}</td>
                    
                </tr>	
                {% endfor %}
            </table>
        </div>    
        <br>
        <br>        
        <form method="POST">
			
            <span>New comment:</span><br/>
            <input type="text" name="comment_text"/><br/>

            <input type="submit" value="Add!"/>
        </form>

        <br>
        <br>
        
    </body>


    </body>
</html>
